@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --color-primary: #4648d4;
  --color-on-primary: #ffffff;
  --color-primary-fixed-dim: #c0c1ff;
  --color-primary-container: #6063ee;
  --color-primary-fixed: #e1e0ff;
  --color-inverse-primary: #c0c1ff;
  --color-on-primary-fixed-variant: #2f2ebe;
  --color-on-primary-fixed: #07006c;
  --color-on-primary-container: #fffbff;

  --color-secondary: #565e74;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed-variant: #3f465c;
  --color-secondary-fixed: #dae2fd;
  --color-on-secondary-fixed: #131b2e;
  --color-secondary-container: #dae2fd;
  --color-on-secondary-container: #5c647a;
  --color-secondary-fixed-dim: #bec6e0;

  --color-tertiary: #904900;
  --color-tertiary-container: #b55d00;
  --color-tertiary-fixed-dim: #ffb783;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #fffbff;
  --color-on-tertiary-fixed-variant: #703700;
  --color-tertiary-fixed: #ffdcc5;
  --color-on-tertiary-fixed: #301400;
  
  --color-background: #f7f9fb;
  --color-on-background: #191c1e;
  --color-outline: #767586;
  --color-outline-variant: #c7c4d7;

  /* --color-surface: #f7f9fb; */
  --color-surface-container: #eceef0;
  --color-surface-container-highest: #e0e3e5;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-dim: #d8dadc;
  --color-surface-bright: #f7f9fb;
  --color-surface-tint: #494bd6;
  --color-inverse-on-surface: #eff1f3;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #464554;
  --color-surface-variant: #e0e3e5;
  --color-inverse-surface: #2d3133;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-error-container: #ffdad6;

    /* dark mode colors */

  --color-primary-dark: #7f81ff;
  --color-secondary-dark: #828eb0;

  --color-outline-dark: var(--color-zinc-400);
  --color-outline-variant-dark: var(--color-zinc-600);

  --color-surface-container-dark: var(--color-zinc-700);
  --color-surface-container-low-dark: var(--color-zinc-700);
  --color-surface-container-lowest-dark: var(--color-zinc-800);
  --color-surface-dark: var(--color-zinc-950);
  --color-on-surface-dark: var(--color-zinc-200);
  --color-on-surface-variant-dark: var(--color-zinc-400);

  --color-error-dark:#ff4f4f;

  /* Border Radius */
  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;
  --space-2xl: 64px;
  --space-base: 4px;
  --space-gutter: 24px;
  --space-margin-mobile: 16px;
  --space-margin-desktop: 48px;

  --font-inter: "Inter", sans-serif;

  /* Font Sizes */
  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 40px;
  --text-headline-lg--letter-spacing: -0.02em;
  --text-headline-lg--font-weight: 600;

  --text-headline-lg-mobile: 23px;
  --text-headline-lg-mobile--line-height: 32px;
  --text-headline-lg-mobile--letter-spacing: -0.02em;
  --text-headline-lg-mobile--font-weight: 600;

  --text-headline-md: 20px;
  --text-headline-md--line-height: 28px;
  --text-headline-md--letter-spacing: -0.01em;
  --text-headline-md--font-weight: 600;

  --text-headline-md-mobile: 18px;
  --text-headline-md-mobile--line-height: 26px;
  --text-headline-md-mobile--letter-spacing: -0.01em;
  --text-headline-md-mobile--font-weight: 600;

  --text-body: 16px;
  --text-body--line-height: 24px;
  --text-body--letter-spacing: 0em;
  --text-body--font-weight: 400;

  --text-body-mobile: 14px;
  --text-body-mobile--line-height: 20px;
  --text-body-mobile--letter-spacing: 0em;
  --text-body-mobile--font-weight: 400;

  --text-label-md: 12px;
  --text-label-md--line-height: 16px;
  --text-label-md--letter-spacing: 0.05em;
  --text-label-md--font-weight: 500;

  --text-label-sm: 11px;
  --text-label-sm--line-height: 14px;
  --text-label-sm--letter-spacing: 0.05em;
  --text-label-sm--font-weight: 600;
}